<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>
	{% for SERVER in SERVERS %}

		<div class="server-wrapper" id="{{ loop.index }}">
			<h2 id="sname">Hostname: unknown</h2>
			<h3>Server is offline</h3>
			<p id="sping">Ping = null</p>




		</div>
	{% endfor %}
	<script type="text/javascript">
		var SERVERS = {{ SERVERS|safe }}
	</script>
	
</body>
</html>