<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>
	{% for SERVER in SERVERS %}

		<div class="server-wrapper" id="{{ loop.index-1 }}">
			<h2 id="sname">Hostname: unknown</h2>

			<p id="sping">Ping:(</p>

			<table id="team1">
				<tr>
					<td>
						Team 1
					</td>
				</tr>
				<tr>
					<th>
					Players
					</th>
					<th>
						Score
					</th>
				</tr>
				<tr>
					<td>
						Sindre
					</td>
					<td>
						4
					</td>
				</tr>
			</table>
			VS
			<table id="team2">
				<tr>
					<td>
						Team 2
					</td>
				</tr>
				<tr>
					<th>
					Players
					</th>
					<th>
						Score
					</th>
				</tr>
				<tr>
					<td>
						Fredrik
					</td>
					<td>
						4
					</td>
				</tr>
			</table>
			<h3 id="slive">Server is offline</h3>
		</div>
	{% endfor %}
	<script type="text/javascript">
		var SERVERS = {{ SERVERS|safe }}
	</script>
	
</body>
</html>